<!DOCTYPE html>

<!--this is the home carousel-->
        <a href="https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=227RRK&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=activity&expires_in=604800">click me</a>
</br>
<a href="">click me again</a>
</br>
<p> <input type="text" ng-model="keyText" placeholder="test3">
    {{$location.search()}} </p>
<p>{{$scope.authKey}}</p>
<a href="" ng-click=""></a>
<script>
    var authCode = $location.search();
    console.log(authCode);
</script>
